
:root{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  color-scheme: light dark;
  
  background-color: black;
}

/* Make the body full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Global button attribute */
button:not(.active):hover {
  color: black ; /* Text color on hover */
  cursor: pointer;
}


/********** Header ***********/

.header-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--theme-primary-color);
  padding: 0 10px 0 10px;
  
}

.logo{
  float: left;
  display:flex;
  align-items: center;
}

.logo img{
  
  max-width: 90%;
}

.logo a{
  max-width: 10%;
  max-height: fit-content;
}

.nav-bar{
  margin: auto;
   
}

.nav-bar ul{
  margin: 0;
  margin-top: 10px;
  
}

.nav-bar li{
  display: inline;
  margin: 20px;
}

.nav-bar li :hover{
  
  text-decoration: underline;
}

.nav-bar li a{
  text-decoration: none;
  color: white;
}

.searchbar-and-avatar{
  float: right;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: end;
}

.searchbar-and-avatar input{
  border-radius: 5px;
  background-color: var(--theme-background-color);
  width: 10vw;
  height: 3vh;
}

.searchbar-and-avatar img{
  width: 50px;

}

.login-signup {
  color: white;
}

.results-popup{
  z-index: 1000;
  position: absolute;
  background-color: var(--theme-background-color);
  width: 10vw;
  overflow-y: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px solid white;
  height: 50vh;
}

.result-item{
  display: block; /* Make sure it’s a block element */
  margin: 10px 0;
  border-bottom: 1px solid var(--theme-primary-color);
}

.item-wrapper{
  display: block;
}

.result-item .chapter-numbers{
  color: grey;
  margin-top: 5px;
}

.result-item p{
  
  margin: 0;
    font-size: 14px;
    color: white;
}

.result-item a{
  
  display: flex; /* Use flex to align child elements inside the link */
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%; /* Ensure it fills the result item */
  height: 100%;
  padding: 0 10px 5px 0;
}

.result-item img {
  width: 50px; /* Set a fixed width for the image */
  height: auto;
  margin-right: 10px; /* Space between image and text */
}
/**************** Responsive Design for Phone (Header) ********************/
@media screen and (max-width: 430px) {
  .header-wrapper {
    display: flex; /* Use flexbox for responsive alignment */
    flex-direction: row; /* Stack elements vertically */
    
    justify-content: space-between; /* Space between items */
    padding: 10px;
    gap: 5px; /* Add space between items */
  }

  .logo img {
    width: 100vw;
    
}

.nav-bar ul {
    display: none
}


.searchbar-and-avatar {
    display: flex; /* Aligns search input and avatar horizontally */
    align-items: center;
    gap: 10px;
}

.searchbar-and-avatar input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 50vw;
}

.searchbar-and-avatar img {
    width: 10vw;
    border-radius: 50%; /* Makes the image circular if it's square */
}
}

/************************************************ Home Page **********************************************/

.homepage-wrapper{
  display: grid;
    grid-template-columns: 3fr 1fr; /* fr stands for flexible fractions , where it will distribute available space in the grid*/
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 20px;
    height: auto;
}

/***** carousel *****/

.carousel-wrapper{
  grid-column: 1; /* Occupy the first column */
  grid-row: 1; /* Occupy the first row */
  height: 40vh;
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: auto;
  position: relative;
  
}


/***** main content *****/

.main-content{
  grid-column: 1; /* start at the first column*/
  grid-row: 2; /* end at the second row */ 
  min-height: auto; /* Use min-height instead of height */
  background-color: var(--theme-secondary-background-color);
  border-radius: 8px;
}

.main-content .latest-updates{
  margin: 20px;
  background-color: white;
  color: grey;
  border-radius: 10px;
  width: 7vw;
  text-align: left;
  
}

.main-content .latest-updates p{
  padding: 5px;
  font-size: small;
  text-align: center;
  color: black;
}

.main-content-inner{
  
  
  background-color: #242424;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px;
  height: auto;
}

.items-grid {
  display: grid; /* Ensure it's a grid container */
  height: auto; /* Grow with content */
}

.items-grid .comic-item .synopsis{
  font-size: small;

}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  text-align: center;
  
}

.item img{
  max-width: 150px;
  border-radius: 8px;
}

.main-content-inner .item{
  padding: 10px 0 0 0;
}


.main-content-inner .items-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.items-grid .item {
  text-decoration: none;
  color: white;
}

.items-grid .item a{
  padding: 0;
}

.item .border-wrapper{
  border-radius: 8px;
  margin: 10px;
}

.border-wrapper:hover{
  background-color: var(--theme-primary-color);
}

.border-wrapper:hover  img {
  transform: translateY(-10px); /* Move elementB up */
  transition: transform 0.3s ease; /* Smooth transition */
}

.border-wrapper img{
  transform: translateY(0px);
  transition: transform 0.8s ease;
}

.item .cover-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  grid-row: 1/ span 2;
  height: 200px;
  
}

.item .cover-picture img{
  height: 200px ;
  max-height: 200px;
  max-width: 150px;
  margin-top: 10px;
  
}




.item .title-wrapper{
  display: -webkit-box;            /* Needed for multiline truncation */
  
  -webkit-line-clamp: 2;           /* Number of lines to display */
  -webkit-box-orient: vertical;    /* Specifies the box orientation */
  overflow: hidden;                /* Hide overflowed text */
  height: 60px;
}

.item .title{
  font-size: 1em;
  font-weight: bold;
}

.item .latest-chapters{
  font-size: 0.9em;
  color: #666;
  grid-column: 2;
  color: var(--asura-description-text-color);
}



/**** sidebar ****/

.sidebar{
  grid-column: 2; /* Move sidebar to the second column */
  grid-row: 1 / span 2; /* Span from the first row down to cover two rows */
  height: auto;
  border-radius: 8px;
  background-color: var(--theme-secondary-background-color);
}

.sidebar .header{
  padding: 5px;
  font-size: small;
  text-align: center;
  
  border-radius: 10px;
  background: white;
  color: grey;
  width: 30%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar .header p{
  margin: 0;
  color: black;
}


.sidebar .button-wrapper button{
  text-align: center;
  padding: 10px;
  border: none;
  height: 40px;
  width: 120px;
  margin-left: 15px;
  margin-bottom: 10px;

}



.sidebar .item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Center-align items vertically */
  gap: 15px; /* Space between the cover picture and the text */
  padding: 10px;
  border-top: 1px solid #000000;
}
.sidebar .ranking{
  text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  font-weight: bold;
  border-radius: 8px;
}

.sidebar .ranking p{
  margin: auto;
  padding: 5px;
}

.sidebar .item-link{
  margin-right: auto;
  text-decoration: none;
  color: white;
  border: none;
}

.sidebar img{
  grid-row: 1;
  width: 100px; /* Set fixed width for the cover image */
    height: auto; /* Set fixed height for the cover image */
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar a .title{
  margin-bottom: 10px;
  overflow: hidden;
  height: 50px;
}

.sidebar .chapters{
  grid-column: 2;
  font-size: small;
}

.sidebar .active{
  background-color: var(--theme-primary-color);
}

.sidebar .synopsis{
  overflow-y: auto;
  height: 200px;
  padding-right: 10px;
}

.sidebar .synopsis::-webkit-scrollbar{
  width: 8px;
  margin-left: 2px;
}

.sidebar .synopsis::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


/**************** Responsive Design for Phone (Homepage) ********************/
@media screen and (max-width: 430px) {

  .homepage-wrapper{
    display: block;
  }

  .sidebar{
    display: none;
  }

  .carousel-wrapper{
    max-width: 100vw;
    
  }

  .main-content .latest-updates{
    width: auto;
  }

  .main-content .latest-updates {
    font-size: small;
  }

  .main-content{
    margin-top: 20px;
  }

}


/************************************* Specific Comic Page *******************************/

.comic-info{
  
  min-height: 40vh;
  
  margin: 20px;
  padding: 10px;
}

.specific-comic-page-wrapper .upper-content{
  display: flex;
}

.comic-info .cover-picture{
  grid-row: 1/ span 3;
  text-align: center;
}

.comic-info .cover-picture img{
  width: 200px;
  height: auto;
}

.upper-content .container{
  border: 1px solid grey;
  margin: 0 0 0 10px;
  padding: 10px;
  background-color: var(--theme-secondary-background-color);
  border-radius: 8px;
}

.comic-info .container p{
  margin: 0;
  color: white;
  
}

.comic-info .container .header{
  color: var(--theme-primary-color);
  font-weight: bold;
}

.comic-info .container .title p{
  font-weight: bold;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  color: white;
}

.comic-info .description{
  margin-top: 10px;
  color: grey;
}

.comic-info .author{
  margin-top: 10px;
}

.comic-info .button-wrapper{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}


.button-wrapper button{
  font-size: small;
  text-align: center;
  height: 5vh;
  width: 10vw;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.comic-chapters{
  grid-template-columns: 1fr 2fr;
  min-height: 60vh;
  height: auto;
  background-color: var(--theme-secondary-background-color);
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
}

.comic-chapters .header{
  background-color: white;
  width: 10vw;
  color: grey;
  padding: 5px;
  border-radius: 5px;
}

.comic-chapters .chapters{
  border: 1px solid grey;
  height: auto;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}

.comic-chapters .chapter-item{
  background: var(--theme-primary-color);
  margin: 10px;
  border-radius: 5px;
  position: relative;
  height: 6vh;
}

.chapter-item a{
  position: absolute;
  width: 100%;
  height: inherit;
  text-decoration: none;
  color: white;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0;
}

.chapter-item.restricted{
  background-color: grey;
  height: inherit;
  margin: 0;
 
  padding-left: 5px;
  
}

.restricted-text{
  width: 100%;
  cursor: pointer;
  display: block;
  padding: 10px;
}

.comic-chapters .chapter-item p{
  margin: 0;
  color: white;
}

.pagination-wrapper{
  display: flex;
 
  text-align: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid white;
  margin-top: 10px;
}

.pagination-wrapper button{
  font-size: small;
  text-align: center;
  height: 3vh;
  width: 10vw;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  
}

/************************ Responsive Design (Specific Comic Page) **************************/

@media screen and (max-width: 430px) {

.comic-info{
  display: flex;
  flex-direction: column;
  height: auto;
}

.comic-info .cover-picture{
  justify-content: center;
  text-align: center;
}

.comic-info .title{
  text-align: center;
}

.comic-info .description{
  text-align: center;
}

.comic-info .button-wrapper{
  flex-direction: column;
  align-items: center;
}

.comic-info button{
  width: 80vw;
}

.comic-chapters .header{
  width: 30vw;
}


}

/************************ Legal Page **************************/

.legal-page-inner{
  margin: 10px;
  padding: 10px;
  
}

.legal-page-inner .header-wrapper{

  background-color: transparent;
  
}

.legal-page-inner .header{
  background-color: white;
  width: 30vw;
  color: grey;
  padding: 5px;
  border-radius: 5px;
}

.legal-page-content{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid grey;
  height: 70vh;
}

/****************** Account Page ****************/

.account-page-wrapper{
  height: 80vh;
}

.account-page-wrapper h2{
  color: white;
  text-align: center;
  font-family: "San Francisco";
  font-weight: 400;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  
 }

.account-page-inner{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px;
  padding: 20px;
  gap: 10px;

}

/*********************** Upload Comics Page ******************/

.upload-comics-wrapper{
  text-align: center;
  font-weight: bold;
  background-color: var(--theme-secondary-background-color);
  border-radius: 8px;
}

.account-page-inner .upload-comics-wrapper button {
  color: white ;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.upload-checklist{
  display: flex;
  text-align: start;
  justify-content: center;
  font-weight: normal;
  margin-bottom: 10px;
}

.upload-checklist li{
  margin-bottom: 10px;
}

.account-page-inner .profile-picture{
  grid-column: 1;
  background-color: var(--theme-secondary-background-color);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.profile-container{
  margin-top: 50px;
}

.account-page-inner .subscription-status{
  grid-column: 2;
  padding: 10px;
  text-align: center;
  background-color: var(--theme-secondary-background-color);
  border-radius: 8px;
}

.subscription-status .premium-list{
  display: flex;
  text-align: start;
  justify-content: center;
}

.subscription-status button{
  width: 200px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
}



.profile-picture img {
  max-width: 20vw;
  max-height: 20vh;
  width: auto;
  height: auto;
}

.profile-picture button{
  padding: 7px 10px;

}

.profile-picture input{
  padding: 7px 10px;
}

.change-credentials-form{
  padding: 10px;
  background-color: var(--theme-secondary-background-color);
  border-radius: 8px;
  justify-self: center;
}

.change-credentials-form form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Label, input, button */
  align-items: center;
  gap: 10px;
  margin: 20px;
  height: auto;
}

.change-credentials-form label {
  text-align: right;
  font-size: 1em;
  color: white;
}

.change-credentials-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: medium;
}

.change-credentials-form button {
  background-color: #888;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.change-credentials-form .error-message{
  width: 100%;
  grid-column: 1/ span 3;
  text-align: center;
  font-size: small;
  color: red;
  margin: 0;
}

.logout-button{
  text-align: center;
  margin-bottom: 20px;
}

.logout-button button{
  width: 200px;
  height: 40px;
  background-color: var(--theme-primary-color);
  border: 1px solid black;
  border-radius: 10px;
}


/********* Login *************/
.login-wrapper{
  width: 70%;
  max-width: 400vw;;
  background-color: var(--theme-secondary-background-color);
  padding: 20px;
  margin: 80px auto;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  }

.login-wrapper input {
  width: 35%;
  padding: 10px;
  margin: 40px 10px 15px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid white;
}

.login-wrapper form label{
  font-size: 20px;
  display: inline;
}

.login-wrapper form p{
  grid-column: 1/ span 2;
  background-color: var(--theme-secondary-background-color);
  justify-self: center;
  padding: 5px;
  border-radius: 3px;
  font-size: medium;
}

.login-button, .direct-to-signup {
  width: 30%;
  padding: 10px;
  background-color: var(--theme-primary-color);
  border-radius: 8px;
  color: white;
  font-size: 20px;
  align-items: center;
  margin: 10px 10px 20px;
  border: none;
}

/********** Responsive design (Login) **********/
@media screen and (max-width: 430px) {
  .login-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    font-size: 15px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .login-wrapper label, .login-wrapper form label {
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .login-wrapper input {
    padding: 8px;
    font-size: 15px;
    width: 90%;
    margin: 0;
    padding: 8px;
    align-items: center;
    justify-content: center;
  }
  .login-button, .direct-to-signup {
    width: 100%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 8px;
  }

}

/******************Sign Up*********************/
.signup-wrapper{
  width: 70%;
  max-width: 400vw;
  height: auto;
  background-color: var(--theme-secondary-background-color);
  padding: 20px;
  margin: 80px auto;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
}

.signup-wrapper form {
  display: grid;
  grid-template-columns: 30vw 40vw;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.signup-wrapper b{
  grid-column: 1;
  text-align: right;
}


.signup-wrapper input {
  width: 40%;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  text-align: left;
  align-items: start;
  grid-column: 2;
  border-radius: 3px;
  border: 1px solid white;
}

.signup-wrapper button{
  grid-column: 1/ span 2;
  justify-self: center;
}

.signup-button, .direct-to-login {
  width: 30%;
  padding: 10px;
  background-color: var(--theme-primary-color);
  border-radius: 8px;
  color: white;
  font-size: 20px;
  align-items: center;
  margin: 10px 10px 20px;
  border: none;
}

.signup-wrapper .error-message{
  color: red;
  font-size: medium;
  grid-column: 2;
  text-align: start;
  margin: 0;
  margin-left: 20px;
}

/**********Responsive Signup Page***************/
@media screen and (max-width: 430px) {
  .signup-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    font-size: 15px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .signup-wrapper form {
    display: flex;
    flex-direction: column;
  }
  .signup-wrapper label, .signup-wrapper form label {
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .signup-wrapper input {
    padding: 8px;
    font-size: 15px;
    width: 90%;
    margin: 10px;
    padding: 8px;
    align-items: center;
    justify-content: center;
  }
  .signup-button {
    width: 100%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 8px;
  }
  .direct-to-login {
    width: 77%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 8px;
  }
}

/**********Comic*************/

.bookmark-page-wrapper .header{
  text-align: start;
  margin: 10px 0 10px 3vw;
}

.bookmark-page-wrapper a{
  padding: 0;
}

.bookmark-page-wrapper .container{
  height: 100vh;
}

.comics-page-wrapper .container{
  height: 100vh;
}

.container{
  margin: 20px;
}

.container  a{
  padding: 0;
}

.container .header{
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.comic-filter-wrapper{
  background-color: var(--theme-secondary-background-color);
  border-radius: 8px;
  height: 100vh;
}
.filter-bar{
  text-align: end;
  padding: 10px;
  display: flex;
}

.filter-bar input{
  height: 20px;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 10px;
  margin-left: auto;
  
}

.comic-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: var(--theme-background-color);
  margin: 20px;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  border-radius: 8px;
  margin-top: 0;
  position: relative;
}

.comic-wrapper a{
  text-decoration: none;
}

.comic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  height: auto;
  
}

.comic-card:hover{
  background-color: var(--theme-primary-color);
}

.comic-title {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  height: auto;
  margin-top: 10px;
  
  -webkit-line-clamp: 2;           /* Number of lines to display */
  -webkit-box-orient: vertical;    /* Specifies the box orientation */
  overflow: hidden;                /* Hide overflowed text */
}

.comic-cover {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}

.comic-card:hover img{
  transform: translateY(-20px); 
  transition: transform 0.3s ease; 
}


.comic-card img{
  transform: translateY(0); 
  transition: transform 0.8s ease; 
}




.no-bookmark-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Customize this to control how far it stretches out */
}

.no-bookmark-wrapper p{
  margin: 5px 0 0 0;
}

.no-bookmark{
  font-size: large;
  text-wrap: nowrap;
  text-align: center;
  justify-self: center;
}

/*************Responsive Design (Comics)**************/
@media screen and (max-width: 430px) {
  .comic-card {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    height: auto;
  }
  .comic-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    padding: 10px;
    background-color: var(--theme-background-color);
    margin: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    border-radius: 8px;
    margin-top: 0;
    position: relative;
  }
  .comic-title {
    font-size: 12px;
  }
  .comic-cover {
    height: auto;
    max-height: 150px;
    object-fit: contain;
  }
  .bookmark-page-wrapper .container{
    height: 200vh;
  }
  
  .comics-page-wrapper .container{
    height: 200vh;
  }
}

/*************** Specific Chapter ****************/

.specific-chapter-wrapper{
  height: auto;
  margin: 20px;
  padding: 10px;
}

.specific-chapter-wrapper .header{
  height: auto;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  border-bottom: 1px solid grey;
  padding: 5px;
  border-radius: 8px;
}

.specific-chapter-wrapper .chapter-title{
  text-align: center;
}

.specific-chapter-wrapper .prev-next{
  text-align: end;
  
}

.specific-chapter-wrapper .prev-next button{
  margin: 0 10px 0 0;
  height: 5vh;
  margin-left: auto;
}

.specific-chapter-wrapper .content{
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  border: 1px solid white;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.specific-chapter-wrapper .content img{
  margin: auto;
}

.specific-chapter-wrapper .prev-next-footer{
  text-align: center;
  margin-top: 10px;
}

.specific-chapter-wrapper .prev-next-footer button{
  margin-left: 10px;
  height: 5vh;
}

/***************************** subscription modal css ***********************/

.merchants{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
}

.merchant{
  display: flex;
  flex-direction: column;
}

.merchant input{
  height: wrap;
}

.merchant-wrapper .header{
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.merchant-wrapper .header button {
  background-color: white;
  border: none;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.merchant img {
  width: auto;
  max-width: 15vw;
  height: auto;
  max-height: 15vh;
}

/************************ Upload Comics Page *********************/
.upload-comic-page-wrapper{
  padding: 50px;
  background-color: var(--theme-background-color);
  text-align: center;
  height: auto;
  margin: 30px 350px;
  font-size: 20px;
  align-items: center;
  width: auto;
  border-radius: 8px;
  
}

.upload-comic-page-wrapper form{
  display: grid;
  grid-template-columns: 30vw 30vw;
  gap: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.upload-comic-page-wrapper label{
  font-size: 20px;
  grid-column: 1;
    text-align: end;
}

.upload-comic-page-wrapper input{
  width: 55%;
  padding: 10px;
  margin: 40px 10px 15px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid white;
  
}

.upload-comic-page-wrapper input[type=file]{
  cursor: pointer;
  margin: 0;
  border-radius: 8px;
  border: none;
}

.upload-comic-page-wrapper textarea{
  width: 20vw;
  height: 20vh;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid white;
  
}

.upload-comic-page-wrapper button{
  grid-column: 1/ span 2;
  justify-self: center;
  width: 200px;
  height: 50px;
  background-color: var(--theme-primary-color);
  border: transparent;

  cursor: pointer;
  border-radius: 8px;
}

/********** Admin Page *********/

.admin-panel-wrapper{
  text-align: center;
  height: auto;
}

.admin-panel-wrapper p{
  font-weight: bold;
  color: var(--theme-primary-color);
}

.admin-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.update-comics{
  grid-column: 1;
  grid-row: 2;
}

.update-comics input{
  width: 400px;
}

.update-comics textarea{
  width: 400px;
  height: 100px;
}

.admin-wrapper h2{
  grid-column: 1;
  grid-row: 1;
 
  
}

.admin-wrapper p{
  grid-column: 1;
  grid-row: 1;
}

.admin-wrapper form{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  text-align: center;
  background-color: var(--theme-secondary-background-color);
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  width: 0.5fr;
}

.admin-wrapper label{
  text-align: right;
}

.admin-wrapper button{
  grid-column: 1 / span 2;
  width: 100px;
  margin-bottom: 20px;
  margin-left: auto;
}

.admin-wrapper input{
  height: 4vh;
  text-align: left;
}

.premium-admin-header h2{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.premium-admin-header{
  text-align: center;
}

.premium-admin-container{
  display: flex;
  background-color: var(--theme-secondary-background-color);
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
}

.premium-admin-container button{
  margin-top: 20px;
}


/********** Footer ***********/
.footer-wrapper{
  width: 100%;
  background-color: var(--theme-primary-color);
  height: 10vh;
 
}
.footer-bar {
  text-align: center;
  padding-top: 10px;
 }

.footer-bar a{
  text-decoration: none;
  color: white;
}

.footer-bar li{
  display: inline-flex;
  margin: 20px;
}

/************** Responsive design (Footer) **************/
@media screen and (max-width: 430px) {
  .footer-wrapper{
    display: flex; /* Use flexbox for responsive alignment */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    gap: 10px; /* Add space between items */
  }

  .footer-bar ul{
    justify-content: center; /* Center the nav-bar on mobile */
    margin: 0;
  }

}


/****************** Components ( Bookmark buttons, etc... ) ******************/

.button-wrapper .active {
  background-color: var(--theme-primary-color);
  /* Add any other active state styles here */
}




/****** CSS VARIABLES **********/

:root{
  --theme-primary-color: rgb(158, 68, 242);
  --theme-background-color: #242424;
  --theme-secondary-background-color: rgb(49, 49, 49);
  --asura-description-text-color: rgb(162 162 162 );
}

