/********** Header ***********/

.header-wrapper{
 display: flex;

}

.logo{
  float: left;
}

.nav-bar{
  margin: auto;
}

.nav-bar ul{
  margin: 0;
  margin-top: 10px;
  
}

.nav-bar li{
  display: inline;
  margin: 20px;
  
}

.searchbar-and-avatar{
  float: right;
}


/********** Footer ***********/
.footer-wrapper{
  width: 100%;
}
.footer-bar {
  text-align: center;
}

.footer-bar li{
  display: inline;
  margin: 20px;

}