.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 450px; /* Adjust as needed */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-secondary-background-color);
    transition: background-color 0.5s ease;
    border-radius: 8px;
    color: white;
    
}

.content-wrapper{
    height: 350px;
    margin: 10px;
}



.content-wrapper{
    width: 100%;
}


.carousel-wrapper.hovered .cover-picture,
.carousel-wrapper.hovered .title-description {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel-slide.cover-picture,
.title-description {
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease;
    margin-left: 15px;
    background-color: #242424;
    
}


.carousel-slide .cover-picture{
    background-color: transparent;
    max-width: 500px;
    max-height: 350px;
}

.carousel-slide .cover-picture img {
    max-width: 400px;
    max-height: 350px;
    border-radius: 5px;
    
}

.title-description {
    
    padding: 10px;
    text-align: center;
    max-width: 600px; /* Limit text width to avoid overflow */
    min-height: 300px;
    margin: 0 10px 0 10px;
    width: auto;
    height: auto;
}

.carousel-slide a{
    text-decoration: none;
    color: white;
    padding: 0;
}

.carousel-wrapper .title{
    font-weight: bold;
    font-size: x-large;
}

.carousel-wrapper .description{
    color: var(--asura-description-text-color);
    font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 3;       /* Limit to 3 lines, adjust as needed */
    -webkit-box-orient: vertical;
    overflow: auto;
    overflow-x: hidden;
    height: 100px;
}

/* Style the scrollbar track */
.carousel-wrapper .description::-webkit-scrollbar {
    width: 8px;                 /* Width of the scrollbar */
}


/* Style the scrollbar thumb (the draggable part) */
.carousel-wrapper .description::-webkit-scrollbar-thumb {
    background: #888;            /* Color of the thumb */
    border-radius: 10px;         /* Rounded corners */
}


.carousel-wrapper .genre{
    text-align: center;
    color: var(--asura-description-text-color);
}

.carousel-wrapper .chapters{
    text-align: center;
    font-weight: bold;
}

.carousel-wrapper .likes{
    text-align: center;
    font-weight: bold;
}

.carousel-wrapper .notice{
    font-size: x-small;
    margin-top: 5px;
    width: 100%;
    margin: 0;
}

.mute-button{
    position: absolute;
    margin: 10px;
    top: 0;
    right: 0;
    z-index: 9999;
}

.mute-button img{
    width: 25px;
    color: white;
}



.carousel-wrapper .title{
    grid-column: 2;
    grid-row: 1;
    margin: 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    height: auto;
    text-decoration: underline;
  }
  
  .carousel-wrapper .description{
    grid-column: 2 /-1;
    grid-row: 2;
    margin: 20px;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
    /* background-color: rgb(60, 55, 61); */
    padding: 10px;
    
  }

.video-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Match width of .carousel-wrapper */
    height: 100%; /* Match height of .carousel-wrapper */
    z-index: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Optional: add a dark overlay */
}

.video-popup video {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

.carousel-slide {
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow if content is too large */
    max-height: 100%; /* Constrain height to fit within container */
    height: 100%;
    min-width: 100%;
    
}


.pagination-dots {
    text-align: center;
    margin-top: 30px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    z-index: 998;
}

.dot.active {
    background-color: var(--theme-primary-color);
    z-index: 998;
}

/**************** Responsive Design for Phone (Carousel) ********************/
@media screen and (max-width: 430px) {

 .carousel-slide .cover-picture img{
    width: 200px;
    margin-left: 10px;
    height: auto;
 }

 .carousel-wrapper .notice{
    display: none;
 }
}



/*************** Variables **************/

:root{
    --theme-primary-color: rgb(158, 68, 242);
    --theme-background-color: #242424;
    --theme-secondary-background-color: rgb(49, 49, 49);
    --asura-description-text-color: rgb(162 162 162 );
  }
  
